@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 2px;
    background-color: rgb(84, 135, 82);
}

figure {
    margin: 0;
}

figure img {
    width: 50%;
}

.flex-container {
    display: flex;
    flex-wrap:nowrap;
    background-color: rgb(27, 61, 29);
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
nav ul {
    list-style: none;
    padding-left: 0px;
}

nav {
    width: 100%;
    background-color: var(--color-bg);
    padding: 1rem;
    text-align: left;
}

nav a {
    margin: 0 auto;
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: tomato;
}

header{
    color: rgb(56, 24, 19);
}
body {
    font-family: 'Poppins', sans-serif;
    max-width: 50rem;
    padding: .75rem;
    color: var(--color-text);
    background-color: var(--color-bg);
}
footer { 
    color: darkslategray;
}
