/* Basic CSS resets -- leveling slight inconsistencies in browsers */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Source+Code+Pro&display=swap');

html, body {
	margin:0 auto;
	padding:0px;
	height:100%;
	box-sizing:border-box;
	scroll-behavior: smooth;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}


/* "Mobile first" CSS: we'll design for phone sizes first, then add media queries for tablets and desktop computers later */
.test {
	color: rgb(255, 255, 255);
  }

.hidden{
	opacity: 0;
	filter: blur(5px);
	transform: translate(-100%);
	transition:all 1s;
}

.show{
	opacity:1;
	filter:blur(0);
	transform:translate(0);
}

body {
background-color: #b7e9e6;
}

section {

	padding: 10px;
}

#container {
}

a{
	color:white ;
	background-color: #688eff;
	line-height: 30px;
	padding-left: 15px;
	padding-right: 15px;
	position:fixed;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	box-shadow: 2px 2px 10px #5369a2;
}
a:hover{
	color: #f2b86c;
}

#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #688eff;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
  }
  
  #myBtn:hover {
	background-color: #555;
  }
  

header, section {
	background:#76aac4;
	color:rgb(246, 246, 246);
}

header{
	padding: 0;
	text-align: center;
	text-shadow: 2px 2px 30px #232323;
	display: flex;
	justify-content: space-around;
	align-items: center;
}


h1{
	font-family: "Lobster", cursive;
	font-size: 3rem; 
	padding: 1rem; 
	padding-top: 5rem;
	padding-bottom: 2em;
	display: inline-block;
	margin: 0 10px;

}

/* The three div's with cat background images */
#cat1, #cat2, #cat3 {
height: 500px;
}

#cat1 {
	background:url('img/1.png')no-repeat fixed center;
	background-size: cover;
}

#cat2 {
	background:url('img/2.jpeg')no-repeat fixed center;
	background-size: cover;
}

#cat3 {
	background:url('img/3.jpeg')no-repeat fixed center;
	background-size: cover;
}

  footer {
	padding: 5%;
	text-align: center;
	color: #efefef;
	background-color:rgb(118, 170, 196) ;
  }

/* A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0px;
    padding: 0px;
}



/* ========================================
MEDIA QUERIES!
======================================== */

/* New CSS for tablet sizes.
You can change the pixel number below */
@media all and (min-width: 768px) {
	
	#container{
        width: 100%;
    }
    .mobile{
        display:none;
    }
    .desktop{
        opacity:1;
    }

	
	
} /* closes 768px+ */




/* New CSS for desktop sizes.
You can change the pixel number below */
@media all and (min-width: 1024px) {

	
} /* closes 1024px+ */





